.input-container{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 12px;
}
.input-num-button{
    background-color: var(--primary-50);
    color: var(--text-secondary);
    border-radius: 8px;
    margin: 2px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.input-operator-button{
    background-color: var(--primary-600);
    color: var(--text-primary);
    border-radius: 8px;
    margin: 2px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.input-num-button:active{
    background-color: var(--primary-600);
    color: var(--text-primary)
}

.input-operator-button:active{
    background-color: var(--primary-50);
    color: var(--text-secondary)
}